.input-screen {
  display: flex;
  background-image: url("../../assets/images/malish.png");
  background-size: cover;
  background-position: center;
}

.panels {
  display: flex;
  flex-direction: column;
  background: #86d3f4;
  width: 380px;
  height: 720px;
}

.panels__agreement {
  display: flex;
  margin-left: 58px;
  margin-bottom: 13px;
  margin-top: 33px;
  align-items: center;
}

.panels__invalid-text {
  color: #ea0000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 284px;
  margin-left: 48px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.panels__number-telephone {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  max-width: 267px;
  margin-left: 56.5px;
  margin-bottom: 13px;
  margin-top: 0px;
  text-transform: uppercase;
  background: #86d3f4;
  border: none;
}

.panels__number-telephone_invalid {
  color: #ea0000;
}

.panels__response {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  max-width: 284px;
  margin-left: 48px;
  margin-top: 265px;
  margin-bottom: 15px;
}

.panels__text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 337px;
  margin: 0 auto 13px auto;
  color: #000000;
}

.panels__title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 272px;
  margin-top: 72px;
  margin-left: 54px;
  margin-right: 54px;
  margin-bottom: 13px;
  color: #000000;
}