.keyboard {
    width: 284px;
    height: 278px;
    display: grid;
    margin: 20px auto 0 auto;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(3, 88px);
  }

  .keyboard__button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    border: 2px solid #000000;
    cursor: pointer;
    background: #86D3F4;
    transition: 1s;
    width: 88px;
  }
  .keyboard__button:hover {
      opacity: 0.7;
  }

  .keyboard__button_erase {
    grid-column: span 2;
    width: 186px;
  }

  .keyboard__button_active {
    color: #ffffff;
    background: #000000;
}

.active {
    background-color: #000000;
    color: #ffffff;
  }


